@import url(https://fonts.googleapis.com/css?family=Nunito);
button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.btn-primary:focus,
.btn-primary:hover {
  text-decoration: underline;
}

.btn-primary:active {
  background-color: aqua !important;
}

@font-face {
  font-family: "GoogleSans-Regular";
  src: url(/fonts/GoogleSans-Regular.otf?12c46ecea4c1db8be032e177fa6d2fd8) format("opentype");
}
@font-face {
  font-family: "GoogleSans-Bold";
  src: url(/fonts/GoogleSans-Bold.otf?adeaa22f3354d3691323bac2cbfab2f8) format("opentype");
}
@font-face {
  font-family: "GoogleSans-Italic";
  src: url(/fonts/GoogleSans-Italic.otf?91d144d1951f566ed9b394036b7850d5) format("opentype");
}
@font-face {
  font-family: "GoogleSans-BoldItalic";
  src: url(/fonts/GoogleSans-BoldItalic.otf?b29233fe7c676e745849ff2d42d3879c) format("opentype");
}
@font-face {
  font-family: "UTM-BryantLG";
  src: url(/fonts/utm_bryantlg-webfont.woff?7d5c5c6286e47e094c52688bb54779ca) format("opentype"), url(/fonts/utm_bryantlg-webfont.woff2?414417e63115a40934a21b83a54eba5b) format("opentype");
  font-weight: normal;
  font-style: normal;
}
.header {
  border-bottom: 5px solid #e5e5e5;
  background-color: #FFFFFF;
}
.header .navbar {
  height: 100px;
  padding: 0px;
}
.header .navbar .custom-header {
  margin-left: 10%;
  margin-right: 10%;
}
.header .navbar-light .navbar-nav .nav-link {
  color: #505353;
}
.header .nav-item {
  margin-left: 2vw;
}
.header .nav-link {
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 19.07px;
  border-radius: 17px;
  padding: 8px 15px !important;
}
.header .nav-link:hover {
  background-color: #B2D235;
  color: #FEFFFF !important;
}
.header .nav-link-active {
  background-color: #B2D235;
  color: #FEFFFF !important;
}
.header .navbar-toggler {
  border: none;
}
.header .navbar-toggler-icon {
  cursor: pointer;
  outline: none;
  border: none;
}
.header .navbar-close {
  border: 10px solid transparent;
  background-color: white;
  background-image: url(/images/x_lg.svg?18c0c6ce21f04bd5ad7d44166760d53e);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1140px) and (min-width: 768px) {
  .header .navbar .custom-header {
    flex-direction: column;
  }
  .header .navbar-branch {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .header .navbar-branch img {
    width: 300px;
    height: 61.74px;
  }
}
@media (max-width: 768px) and (min-width: 575px) {
  .header .custom-header {
    justify-content: center;
  }
  .header .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 575px) {
  .header {
    border: none;
  }
  .header .navbar {
    height: 62px;
  }
  .header .navbar .custom-header {
    margin-left: 21px;
    margin-right: 39px;
    justify-content: flex-start;
  }
  .header .nav-link {
    margin-top: 20px;
  }
  .header .nav-link:hover {
    background-color: #FFFFFF;
    color: #B2D235 !important;
  }
  .header .nav-link:focus {
    background-color: #FFFFFF;
    color: #B2D235 !important;
  }
  .header .nav-link-active {
    background-color: #FFFFFF;
    color: #B2D235 !important;
  }
  .header .navbar-toggler {
    border: none;
    padding: 0px;
  }
  .header .navbar-toggler-icon {
    width: 18px;
    height: 24px;
  }
  .header .navbar-branch {
    padding: 0px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .header .navbar-branch img {
    width: 150px;
    height: 26.75px;
  }

  .header-mobile {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
  }
}
.hapo-learn-banner {
  width: 100%;
  height: 655px;
}

.banner-background {
  width: 100%;
  background-image: url(/images/hapolearnbanner_1.png?a839010d7bffa3e1196d4ebff30934bd);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-linear {
  background-image: linear-gradient(to bottom, #FFFFFF, #e5e5e5);
  height: 130px;
  overflow: visible;
}

.custom-firstbanner {
  height: 655px;
  color: #11114E;
  margin-left: 60px;
  font-family: "UTM-BryantLG";
}

.slogan {
  font-size: 50px;
  line-height: 61px;
  letter-spacing: -0.05em;
  -webkit-text-fill: #11114E solid;
}

.main-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
  -webkit-text-fill-color: #11114E;
  -webkit-text-stroke: 2px;
  letter-spacing: -0.05em;
  margin-bottom: 10px;
}

.main-title img {
  height: 43.9px;
  width: 48.39px;
  letter-spacing: -0.05em;
}

.sub-title {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.05em;
}

.firstbanner-btn {
  color: #FFFFFF;
  font-family: "UTM-BryantLG";
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.05em;
  padding: 13px 67px;
  background-color: #B2D235;
  border: 0.3px solid #FFFFFF !important;
  border-radius: 35px;
  margin-top: 40px;
}

.firstbanner-btn:hover {
  background-color: #B2D235;
}

.firstbanner-btn:active {
  background-color: #B2D235;
}

@media (max-width: 769px) and (min-width: 575px) {
  .hapo-learn-banner {
    height: 350px;
  }

  .custom-firstbanner {
    margin-left: 28px;
    height: 350px;
  }

  .slogan {
    font-size: 30px;
    line-height: 36.78px;
    font-weight: 400;
  }

  .main-title {
    font-size: 30px;
    line-height: 36.38px;
  }

  .main-title img {
    width: 34px;
    height: 31px;
  }

  .sub-title {
    font-size: 16px;
    line-height: 19.62px;
    font-weight: 400;
  }

  .firstbanner-btn {
    font-size: 16px;
    line-height: 19.65px;
    padding: 8px 35px;
    margin-top: 36px;
  }
}
@media (max-width: 575px) {
  .hapo-learn-banner {
    height: 393px;
  }

  .banner-background {
    height: 200px;
  }

  .custom-firstbanner {
    padding-top: 298px;
    height: 200px;
    letter-spacing: 0em;
  }

  .slogan {
    font-size: 25px;
    line-height: 30.65px;
    font-weight: 400;
  }

  .main-title {
    font-size: 25px;
    line-height: 30.65px;
    -webkit-text-stroke: 1px;
  }

  .main-title img {
    width: 25.16px;
    height: 22.83px;
  }

  .sub-title {
    font-size: 16px;
    line-height: 19.62px;
    font-weight: 400;
  }

  .firstbanner-btn {
    font-size: 18px;
    line-height: 22.07px;
    padding: 12px 52px;
    margin-top: 20px;
  }

  .bg-linear {
    height: 331px;
  }
}
.course {
  margin-top: 50px;
}
.course .course-border {
  background-color: #FFFFFF;
  border-radius: 15px;
}
.course .card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 215px;
  box-shadow: 0px 2px 2px 0px #00000040 inset;
}
.course .card-img-top img {
  display: block;
  width: 60%;
}
.course .card-body {
  text-align: center;
}
.course .card-body .card-title {
  color: #B2D235;
  font-size: 30px;
  font-weight: bold;
  font-family: "UTM-BryantLG";
  line-height: 37px;
  letter-spacing: -0.05em;
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.course .card-body .card-text {
  color: #505353;
  font-size: 14px;
  font-weight: bold;
  font-family: "UTM-BryantLG";
  text-align: center;
}
.course .card-body .card-text-overflow {
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: center;
}
.course .card-body .btn-primary {
  background-color: #B2D235;
  color: #FFFFFF;
  box-shadow: 0px 1.5px 2px 0px #6F8710 inset;
  font-family: "UTM-BryantLG";
  font-size: 18px;
  font-weight: bold;
  border-radius: 22px;
  border: none;
  padding-left: 2vw;
  padding-right: 2vw;
}
.course .bg-color-php {
  background-color: #3F6185;
}
.course .bg-color-htmlcssjs {
  background-color: #556598;
}
.course .bg-color-java {
  background-color: #1B75BB;
}
.course .bg-color-rail {
  background-color: #E14E40;
}
.course .bg-color-laravel {
  background-color: #DC594C;
}
.course .bg-color-css {
  background-color: #24ABE2;
}

.title-underline {
  font-family: "UTM-BryantLG";
  color: #11114E;
  letter-spacing: -0.02em;
  font-weight: bold;
  font-size: 80px;
  line-height: 98px;
  margin-top: 5% !important;
  padding-bottom: 15px;
  -webkit-text-stroke: 2px;
}
.title-underline .custom-underline-textcourse {
  border-bottom: 6px solid #B2D235 !important;
}

.extend-course {
  font-family: "UTM-BryantLG";
  color: #90AB26 !important;
  letter-spacing: -0.02em;
  font-weight: bold;
  font-size: 40px;
  line-height: 49.04px;
  margin-top: 3% !important;
  -webkit-text-stroke: 2px;
}

@media (max-width: 1200px) and (min-width: 576px) {
  .course .card-img-top {
    height: 131px;
  }
  .course .card-body .card-title {
    font-size: 20px;
    line-height: 24.52px;
  }
  .course .card-body .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .course .card-body .btn-primary {
    font-size: 10px;
  }

  .title-underline {
    font-size: 40px;
    line-height: 49.04px;
  }
}
@media (max-width: 575px) {
  .course {
    padding: 0px 12%;
  }
  .course .card-img-top {
    height: 163px;
  }
  .course .course-border {
    margin-bottom: 30px;
  }
  .course .card-body .card-title {
    font-size: 25px;
  }

  .title-underline {
    font-size: 40px;
    line-height: 49.04px;
  }

  .extend-course {
    font-size: 22px;
    line-height: 26.97px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .course {
    max-width: 900px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .course {
    max-width: 700px;
  }
}
.banner-whyhapolearn {
  width: 100%;
  position: relative;
  margin-top: 5.5vw;
}
.banner-whyhapolearn .banner-whyhapolearn-background {
  width: 100%;
  height: 740px;
  background-image: url(/images/banner_why_hapolearn.png?81fdc1440f261474241ea4a04dec8cf5);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-whyhapolearn .img-laptop {
  position: absolute;
  background-image: url(/images/laptop.svg?fea3060a76ae2a00bf11ea2005001989);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  width: 420px;
  height: 598px;
  top: -30%;
}
.banner-whyhapolearn .img-devices {
  background-image: url(/images/devices.png?dcfb297cedb0b2f0c83238abc924d1a7);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: auto;
}
.banner-whyhapolearn .banner-whyhapolearn-answer {
  color: #FFFFFF;
  font-family: "UTM-BryantLG";
  letter-spacing: -0.05em;
  font-size: 20px;
}
.banner-whyhapolearn .banner-whyhapolearn-answer .title-why-hapolearn {
  font-weight: bold;
  font-size: 70px;
  line-height: 86px;
  letter-spacing: -0.02em;
  margin-left: 103px;
  margin-top: 303px;
}
.banner-whyhapolearn .banner-whyhapolearn-answer .reply-why-hapolearn {
  margin-left: 146px;
  font-size: 20px;
  line-height: 24.52px;
  overflow: hidden;
  margin-bottom: 25px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1920px) and (min-width: 1600px) {
  .banner-whyhapolearn .banner-whyhapolearn-answer .title-why-hapolearn {
    font-size: 80px;
    margin-bottom: 40px;
  }
  .banner-whyhapolearn .banner-whyhapolearn-answer .reply-why-hapolearn {
    font-size: 30px;
  }
}
@media screen and (max-width: 1146px) and (min-width: 668px) {
  .banner-whyhapolearn .banner-whyhapolearn-background {
    height: 395px;
  }
  .banner-whyhapolearn .img-devices {
    background-position: bottom;
  }
  .banner-whyhapolearn .img-laptop {
    width: 26%;
    top: -13vw;
  }
  .banner-whyhapolearn .banner-whyhapolearn-answer .title-why-hapolearn {
    font-size: 50px;
    line-height: 61px;
    margin-top: 37px;
    margin-left: 218px;
    width: 120%;
    margin-bottom: 70px;
  }
  .banner-whyhapolearn .banner-whyhapolearn-answer .reply-why-hapolearn {
    font-size: 16px;
    line-height: 20px;
    margin-left: 18px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 668px) and (min-width: 575px) {
  .banner-whyhapolearn .banner-whyhapolearn-background {
    height: 395px;
  }
  .banner-whyhapolearn .img-devices {
    background-position: bottom;
  }
  .banner-whyhapolearn .img-laptop {
    width: 40%;
    top: -20vw;
  }
  .banner-whyhapolearn .banner-whyhapolearn-answer .title-why-hapolearn {
    font-size: 50px;
    line-height: 61px;
    margin-top: 37px;
    margin-left: 218px;
    width: 120%;
    margin-bottom: 70px;
  }
  .banner-whyhapolearn .banner-whyhapolearn-answer .reply-why-hapolearn {
    font-size: 16px;
    line-height: 20px;
    margin-left: 18px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 575px) {
  .banner-whyhapolearn .banner-whyhapolearn-background {
    height: 569px;
    display: flex;
    flex-direction: column;
  }
  .banner-whyhapolearn .banner-whyhapolearn-background .img-laptop {
    width: 37%;
    top: -16%;
  }
  .banner-whyhapolearn .banner-whyhapolearn-background .img-devices {
    max-width: 100%;
  }
  .banner-whyhapolearn .banner-whyhapolearn-answer {
    max-width: 100%;
  }
  .banner-whyhapolearn .banner-whyhapolearn-answer .title-why-hapolearn {
    margin-left: 26vw;
    font-size: 40px;
    line-height: 40px;
    margin-top: 40px;
  }
  .banner-whyhapolearn .banner-whyhapolearn-answer .reply-why-hapolearn {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
}
.feedback {
  margin-bottom: 8vw;
}
.feedback .feedback-intro {
  width: 705px;
  font-family: "UTM-BryantLG";
  color: #505353;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-left: auto;
  margin-right: auto;
}
.feedback .slick-slider {
  overflow: visible;
}
.feedback .slide-arrow {
  position: absolute;
  top: 45%;
  margin-top: -15px;
  cursor: pointer;
  color: #969494;
}
.feedback .next-arrow {
  z-index: 2;
  right: 0;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 50%;
}
.feedback .prev-arrow {
  z-index: 2;
  left: 0;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 50%;
}
.feedback .feedback-border-text {
  border: 0.5px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
}
.feedback .feedback-border-text:before,
.feedback .feedback-border-text:after {
  z-index: 1;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 76px;
  left: 50px;
  border: 1px solid #E2E2E2;
  background-color: #FFFFFF;
  transform: rotate(45deg);
  border-top: transparent;
  border-left: transparent;
}
.feedback .feedback-border-text:after {
  z-index: -1;
  bottom: 75px;
  left: 50px;
}
.feedback .feedback-text {
  text-align: start;
  font-family: "UTM-BryantLG";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #000000;
  border-left: 5px solid #D9DADC;
  margin: 20px;
  padding: 20px;
  padding-right: 0px;
}
.feedback .user-info {
  margin-left: 20px;
  margin-top: 25px;
}
.feedback .user-info .user-name {
  font-size: 20px;
  line-height: 25px;
  color: #11114E;
}
.feedback .user-info .user-role {
  font-size: 16px;
  line-height: 20px;
  color: #505353;
}
.feedback .user-info img {
  width: 60px;
}
.feedback .user-info .user-rating {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #F2C54F;
}

@media screen and (max-width: 1140px) and (min-width: 575px) {
  .feedback .feedback-intro {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 575px) {
  .feedback .feedback-intro {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
}
.banner-encourage {
  width: 100%;
  height: 500px;
  background-image: url(/images/become_a_member.png?180f425184532c42de04877992644d34);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "UTM-BryantLG";
}
.banner-encourage-text {
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  -webkit-text-stroke-color: 1px solid #FFFFFF;
  width: 705px;
}
.banner-encourage .btn-primary {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  border-radius: 35px;
  color: #90AB26;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.05em;
  border: 0.3px solid #FFFFFF;
  padding: 14px 67px;
  margin-top: 30px;
}

@media screen and (max-width: 1140px) and (min-width: 575px) {
  .banner-encourage {
    height: 266px;
  }
  .banner-encourage-text {
    font-size: 35px;
    line-height: 43px;
    width: 402px;
  }
  .banner-encourage .btn-primary {
    font-size: 20px;
    line-height: 25px;
    padding: 10px 45px;
  }
}
@media screen and (max-width: 575px) {
  .banner-encourage {
    height: 182px;
  }
  .banner-encourage-text {
    font-size: 23px;
    line-height: 28px;
    width: 291px;
  }
  .banner-encourage .btn-primary {
    font-size: 18px;
    line-height: 22px;
    padding: 2px 30px;
  }
}
.statistic {
  font-family: "UTM-BryantLG";
  height: auto;
  margin-bottom: 5%;
}
.statistic-parameter-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  letter-spacing: -0.05em;
  color: #505353;
  margin-top: 30px;
}
.statistic-parameter-number {
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  letter-spacing: -0.05em;
  color: #B2D235;
}

@media (min-width: 1200px) {
  .statistic {
    max-width: 1920px;
  }
}
@media screen and (max-width: 1140px) {
  .statistic-parameter-title {
    font-size: 40px;
    line-height: 49px;
  }
  .statistic-parameter-number {
    font-size: 40px;
    line-height: 49px;
  }
}
@media screen and (max-width: 575px) {
  .statistic-parameter {
    flex-direction: column !important;
    align-items: center;
  }
}
.footer {
  font-family: "UTM-BryantLG";
  color: #FFFFFF;
  background-color: #505353;
}
.footer-container {
  height: 270px;
  display: flex;
  padding-top: 30px;
}
.footer-slogan {
  margin-left: 65px;
  font-size: 20px;
  line-height: 25px;
}
.footer-text {
  color: #FFFFFF !important;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
}
.footer-nav {
  padding-left: 40px;
  padding-right: 40px;
}
.footer-iconandlink {
  vertical-align: middle;
}
.footer-icon {
  color: #505353;
  border-radius: 50%;
  background-color: #FFFFFF;
  background-position: center center;
  background-size: contain;
  position: relative;
  margin-left: 35px;
  cursor: pointer;
  border: none;
}
.footer-icon img {
  width: 50px;
  height: 50px;
}
.footer .txt-hidden {
  display: none;
}
.footer .readmore {
  display: flex;
  -webkit-text-decoration: underline 0.5px;
          text-decoration: underline 0.5px;
  margin-left: 5px;
  position: relative;
  align-items: center;
  white-space: nowrap;
}
.footer-endground {
  width: 100%;
  background-color: #454545;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.05em;
  height: 38px;
}

@media screen and (max-width: 984px) and (min-width: 575px) {
  .footer-logo {
    margin-top: 20px;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    padding: 0px;
  }
  .footer-logo img {
    width: 170px;
    height: 35px;
  }
  .footer-slogan {
    margin-left: 0px;
    font-size: 16px;
    line-height: 20px;
  }
  .footer-text {
    font-size: 18px;
    line-height: 22px;
  }
  .footer-icon img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) and (min-width: 575px) {
  .footer-container {
    max-width: 740px;
  }

  .footer-nav {
    padding: 0px;
  }
}
@media screen and (max-width: 575px) {
  .footer {
    height: 391px;
    position: relative;
  }
  .footer .readmore {
    display: none;
  }
  .footer-container {
    position: relative;
  }
  .footer-logo {
    position: absolute;
    top: 234px;
    left: 31px;
    padding: 0px;
    margin: 0px;
  }
  .footer-logo img {
    width: 150px;
    height: 31px;
  }
  .footer-slogan {
    font-size: 14px;
    line-height: 17px;
    margin-left: 0px;
    width: 200px;
  }
  .footer-text {
    font-size: 17px;
    line-height: 21px;
    padding-left: 35px;
  }
  .footer-icon {
    margin-left: 10px;
  }
  .footer-icon img {
    width: 30px;
    height: 30px;
  }
  .footer-contact {
    position: absolute;
    top: 240px;
    right: 27px;
  }
  .footer-endground {
    position: absolute;
    bottom: 0;
  }
  .footer-nav {
    position: absolute;
    top: 25px;
    padding: 0px;
    max-width: 100%;
  }
  .footer-nav-left {
    width: 50%;
    align-self: start;
  }
  .footer-nav-right {
    width: 50%;
    align-self: start;
  }
}
@media (min-width: 1550px) {
  .footer-container {
    max-width: 1720px;
  }

  .footer-nav-left {
    max-width: 36%;
  }
}
@media (min-width: 1200px) {
  .footer-container {
    max-width: 1255px;
  }
}
.modal.show .modal-dialog {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-header .btn-logreg {
  color: #B2D235;
  background-color: #FFFFFF;
  font-family: "UTM-BryantLG";
  font-weight: bold;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: -0.02em;
  text-align: center;
}
.modal-header .nav-pills .nav-link.active {
  color: #FFFFFF;
  background-color: #B2D235;
}
.modal-header .close {
  height: 42px;
  position: absolute;
  top: -4px;
  right: -4px;
  width: 42px;
  border: 1px solid #B2D235;
  border-radius: 50%;
  background-color: #B2D235;
  opacity: 1;
}
.modal-header .close .fa-times:before {
  left: 12px;
  content: "\f00d";
  position: absolute;
  color: white;
  top: 8px;
}
.modal-header .close:not(:disabled):hover {
  opacity: 1;
}

.modal-content {
  width: 430px;
  font-family: "UTM-BryantLG";
}

.social-login {
  margin: 0 auto;
  margin-bottom: 14px;
}

.social-btn {
  font-weight: 100;
  color: #FFFFFF;
  width: 100%;
  height: 55px;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.login-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #505353;
  margin-top: 30px;
}

.form-control-label {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #505353;
  cursor: pointer;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #B2D235;
}

.form-text-forgotpass {
  color: #B2D235;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-align: end;
}

.form-text-forgotpass:hover {
  color: #B2D235;
}

.modal-body .form-login-and-register {
  width: 100%;
  max-width: 410px;
  padding: 15px;
}
.modal-body .form-control {
  height: 60px;
  padding: 10px;
  font-size: 16px;
  background: #F2f2f2;
  border: 1px solid #E1E1E1;
}
.modal-body .form-control:focus {
  z-index: 2;
}

.custom-btn-login {
  width: 200px;
  background: #B2D235;
  box-shadow: inset 0px 1.5px 2px #6F8710;
  border-radius: 22px;
  margin-top: 45px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.custom-btn-login:hover {
  background-color: #B2D235;
}

.title-social-login {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #505353;
  background-color: #FFFFFF;
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 30px;
}

.title-social-login:before {
  content: "";
  position: absolute;
  width: calc(100% + 60px);
  top: 15px;
  z-index: -2;
  border-top: 1px solid #DBDBDB;
}

.title-social-login::after {
  content: "";
  position: absolute;
  width: 96px;
  height: 20px;
  top: 0px;
  z-index: -1;
  background-color: #FFFFFF;
}

.fa-google-plus-g:before {
  content: "\f0d5";
  font-size: 25px;
}

.fa-facebook-f:before {
  content: "\f39e";
  font-size: 25px;
}

.facebook-btn {
  background-color: #3C589C;
}

.google-btn {
  background-color: #DF4B3B;
}

@media screen and (max-width: 500px) {
  .modal-content {
    width: 80%;
  }
}
.messenger {
  position: fixed;
  right: 2.78%;
  bottom: 10%;
}
.messenger .chatbox {
  background-color: #FFFFFF;
  border-radius: 23px;
  box-shadow: 0px 0px 8px 0px #00000040;
  width: 360px;
  height: 190px;
  padding: 13px;
}
.messenger .chatbox .close-button {
  display: flex;
  float: right;
  border-radius: 50%;
  background-color: #c4c4c4;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.messenger .chatbox .close-button .fa-times:before {
  content: "\f00d";
  position: absolute;
  top: 17px;
  right: 19px;
}
.messenger .chatbox-disappear {
  display: none;
}
.messenger .title-chatbox {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #7f7f7f;
  margin-left: 65px;
}
.messenger .message-from-hapolearn {
  display: flex;
  align-items: center;
}
.messenger .message-from-hapolearn .logo-hapolearn-messenger {
  width: 28px;
  height: 28px;
  background-image: url(/images/hapo_logo.png?18b4df441b794adf9cd7b093b248d92b);
  background-repeat: no-repeat;
  background-size: contain;
}
.messenger .message-from-hapolearn .hapo-text-message {
  background: #F1F0F0;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #505353;
  padding-left: 15px;
  padding-right: 33px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}
.messenger .button-messenger {
  margin-top: 33px;
  background: #3184F7;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-decoration: none;
  width: 276px;
  padding: 10px 50px;
}
.messenger .text-messenger-end {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #b3b3b3;
  margin-top: 6px;
}
.messenger .logo-messenger {
  position: fixed;
  right: 33px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 500px) and (height: 1024px) {
  .messenger {
    right: 2.78%;
    bottom: 45vh;
  }
}
@media screen and (max-width: 500px) {
  .messenger {
    right: 5.78%;
    bottom: 30vh;
  }
  .messenger .chatbox {
    width: 300px;
  }
  .messenger .logo-messenger {
    width: 37.5px;
    height: 37.5px;
  }
}
@media screen and (max-width: 500px) and (height: 812px) {
  .messenger {
    bottom: 30vh;
  }
}
@media screen and (max-width: 500px) and (height: 736px) {
  .messenger {
    bottom: 23vh;
  }
}
@media screen and (max-width: 500px) and (max-height: 736px) {
  .messenger {
    bottom: 15vh;
  }
}
