.messenger {
  position: fixed;
  right: 2.78%;
  bottom: 10%;

  .chatbox {
    background-color: $color-white;
    border-radius: 23px;
    box-shadow: 0px 0px 8px 0px $color-btn-boxshadow-black;
    width: 360px;
    height: 190px;
    padding: 13px;

    .close-button {
      display: flex;
      float: right;
      border-radius: 50%;
      background-color: $color-gray-bg-close;
      width: 24px;
      height: 24px;
      cursor: pointer;

      .fa-times:before {
        content: "\f00d";
        position: absolute;
        top: 17px;
        right: 19px;
     }
    }
  }
  
  .chatbox-disappear {
    display: none;
  }

  .title-chatbox {
    font-family: $font_Open_Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: $color-gray-title-chatbox;
    margin-left: 65px;
  }

  .message-from-hapolearn {
    display: flex;
    align-items: center;

    .logo-hapolearn-messenger {
      width: 28px;
      height: 28px;
      background-image: url('~/assets/img/hapo_logo.png');
      background-repeat: no-repeat;
      background-size: contain;
    }

    .hapo-text-message {
      background: $color-white-textsms;
      border-radius: 15px;
      font-family: $font_Open_Sans;
      font-weight: 600;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: -0.02em;
      color: $color-dark;
      padding-left: 15px;
      padding-right: 33px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 10px;
    }
  }

  .button-messenger {
    margin-top: 33px;
    background: $color-blue-messenger;
    border-radius: 10px;
    font-family: $font_Open_Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: $color-white;
    text-decoration: none;
    width: 276px;
    padding: 10px 50px;
  }

  .text-messenger-end {
    font-family: $font_Open_Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: $color-gray-text-messenger;
    margin-top: 6px;
  }

  .logo-messenger {
    position: fixed;
    right: 33px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) and (min-width: 500px) and (height: 1024px) {
  .messenger {
    right: 2.78%;
    bottom: 45vh;
  }
}

@media screen and (max-width: 500px) {
  .messenger {
    right: 5.78%;
    bottom: 30vh;  

    .chatbox {
      width: 300px;
    }

    .logo-messenger {
      width: 37.5px;
      height: 37.5px;
    }
  }
}

@media screen and (max-width: 500px) and (height: 812px) {
  .messenger {
    bottom: 30vh;  
  }
}

@media screen and (max-width: 500px) and (height: 736px) {
  .messenger {
    bottom: 23vh;  
  }
}

@media screen and (max-width: 500px) and (max-height: 736px) {
  .messenger {
    bottom: 15vh;  
  }
}

