$color-black: #11114E; 
$color-dark: #505353;
$color-white: #FFFFFF;
$color-green: #90AB26;
$color-lightgreen: #B2D235;
$color-lightwhite: #FEFFFF;
$color-bg-php: #3F6185;
$color-bg-larabvel: #DC594C;
$color-bg-htmlcssjs: #556598;
$color-bg-css: #24ABE2;
$color-bg-rail: #E14E40;
$color-bg-java: #1B75BB;
$color-btn-boxshadow-green: #6F8710;
$color-gray: #e5e5e5;
$color-btn-boxshadow-black: #00000040;
$color-yellow: #D2D235;
$color-text-feedback: #000000;
$color-border-text: #E2E2E2;
$color-border-gray: #D9DADC;
$color-circle-gray: #C4C4C4;
$color-yellow-star: #FFD600;
$color-yellow-ratingstar: #F2C54F;
$color-gray-arrow: #969494;
$color-black-footer: #454545;
$color-gray-background: #F2f2f2;
$color-border-input: #E1E1E1;
$color-gray-line: #DBDBDB;
$color-blue-facebook: #3C589C;
$color-red-google: #DF4B3B;
$color-white-textsms: #F1F0F0;
$color-blue-messenger: #3184F7;
$color-gray-text-messenger: #b3b3b3;
$color-gray-title-chatbox: #7f7f7f;
$color-gray-bg-close: #c4c4c4;
