.footer {
  font-family: $font_UTM_BryantLG;
  color: $color-white;
  background-color: $color-dark;

  &-container {
    height: 270px;
    display: flex;
    padding-top: 30px
  }

  &-slogan {
    margin-left: 65px;
    font-size: 20px;
    line-height: 25px;
  }

  &-text {
    color: $color-white !important;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
  }

  &-nav {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  &-iconandlink {
    vertical-align: middle;
  }

  &-icon {
    color: $color-dark;
    border-radius: 50%;
    background-color: $color-white;
    background-position: center center;
    background-size: contain;
    position: relative;
    margin-left: 35px;
    cursor: pointer;
    border: none;

    img {
      width: 50px;
      height: 50px;
    }
  }
  
  .txt-hidden {
    display: none;
  }

  .readmore {
    display: flex;
    text-decoration: underline 0.5px;
    margin-left: 5px;
    position: relative;
    align-items: center;
    white-space: nowrap;
  }

  &-endground {
    width: 100%;
    background-color: $color-black-footer;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.05em;
    height: 38px;
  }
}

@media screen and (max-width: 984px) and (min-width: 575px) {
  .footer {
    &-logo {
      margin-top: 20px;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      padding: 0px;

      img {
        width: 170px;
        height: 35px;
      }
    }

    &-slogan {
      margin-left: 0px;
      font-size: 16px;
      line-height: 20px;
    }

    &-text {
      font-size: 18px;
      line-height: 22px;
    }

    &-icon {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 575px) {
  .footer-container {
      max-width: 740px;
  }

  .footer-nav {
    padding: 0px;
  }
}

@media screen and (max-width: 575px) {
  .footer {
    height: 391px;
    position: relative;

    .readmore {
      display: none;
    }

    &-container {
      position: relative;
    }

    &-logo {
      position: absolute;
      top: 234px;
      left: 31px;
      padding: 0px;
      margin: 0px;
      
      img {
        width: 150px;
        height: 31px;
      }
    }

    &-slogan {
      font-size: 14px;
      line-height: 17px;
      margin-left: 0px;
      width: 200px;
    }

    &-text {
      font-size: 17px;
      line-height: 21px;
      padding-left: 35px;
    }

    &-icon {
      margin-left: 10px;
      
      img {
        width: 30px;
        height: 30px;
      }
    }

    &-contact {
      position: absolute;
      top: 240px;
      right: 27px;
    }

    &-endground {
      position: absolute;
      bottom: 0;
    }
    
    &-nav {
      position: absolute;
      top: 25px;
      padding: 0px;
      max-width: 100%;

      &-left {
        width: 50%;
        align-self: start;
      }

      &-right {
        width: 50%;
        align-self: start;
      }
    }
  }
}

@media (min-width: 1550px) {
  .footer-container {
      max-width: 1720px;
  }

  .footer-nav-left {
    max-width: 36%;
  }
}

@media (min-width: 1200px) {
  .footer-container {
      max-width: 1255px;
  }
}