
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

@font-face {
  font-family: 'GoogleSans-Regular';
  src: url('~/assets/font/GoogleSans-Regular.otf') format('opentype');
  }

@font-face {
  font-family: 'GoogleSans-Bold';
  src: url('~/assets/font/GoogleSans-Bold.otf') format('opentype');
  }

@font-face {
  font-family: 'GoogleSans-Italic';
  src: url('~/assets/font/GoogleSans-Italic.otf') format('opentype');
  }

@font-face {
  font-family: 'GoogleSans-BoldItalic';
  src: url('~/assets/font/GoogleSans-BoldItalic.otf') format('opentype');
  }

@font-face {
  font-family: 'UTM-BryantLG';
  src: url('~/assets/font/utm_bryantlg-webfont.woff') format('opentype'),
    url('~/assets/font/utm_bryantlg-webfont.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$font_Open_Sans: "Open Sans", sans-serif;
$font_UTM_BryantLG: "UTM-BryantLG";
