.banner-whyhapolearn {
  width: 100%;
  position: relative;
  margin-top: 5.5vw;

  .banner-whyhapolearn-background {
    width: 100%;
    height: 740px;
    background-image: url('~/assets/img/banner_why_hapolearn.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-laptop {
    position: absolute;
    background-image: url('~/assets/img/laptop.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: 420px;
    height: 598px;
    top: -30%;
  }
  
  .img-devices {
    background-image: url('~/assets/img/devices.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: auto;
  }
  
  .banner-whyhapolearn-answer {
    color: $color-white;
    font-family: $font_UTM_BryantLG;
    letter-spacing: -0.05em;
    font-size: 20px;

    .title-why-hapolearn {
      font-weight: bold;
      font-size: 70px;
      line-height: 86px;
      letter-spacing: -0.02em;
      margin-left: 103px;
      margin-top: 303px;
    }

    .reply-why-hapolearn {
      margin-left: 146px;
      font-size: 20px;
      line-height: 24.52px;
      overflow: hidden;
      margin-bottom: 25px;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }
}

@media screen and (max-width: 1920px) and (min-width: 1600px) {
  .banner-whyhapolearn 
    .banner-whyhapolearn-answer { 
      .title-why-hapolearn {
        font-size: 80px;
        margin-bottom: 40px;
      }

      .reply-why-hapolearn {
        font-size: 30px;
      }
    }
}

@media screen and (max-width: 1146px) and (min-width: 668px) {
  .banner-whyhapolearn {
    .banner-whyhapolearn-background {
      height: 395px;
    }

    .img-devices {
      background-position: bottom;
    }

    .img-laptop {
      width: 26%;
      top: -13vw;
    }

    .banner-whyhapolearn-answer{ 
      .title-why-hapolearn {
        font-size: 50px;
        line-height: 61px;
        margin-top: 37px;
        margin-left: 218px;
        width: 120%;
        margin-bottom: 70px;
      }

      .reply-why-hapolearn {
        font-size: 16px;
        line-height: 20px;
        margin-left: 18px;
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 668px) and (min-width: 575px) {
  .banner-whyhapolearn {
    .banner-whyhapolearn-background {
      height: 395px;
    }

    .img-devices {
      background-position: bottom;
    }

    .img-laptop {
      width: 40%;
      top: -20vw;
    }

    .banner-whyhapolearn-answer{ 
      .title-why-hapolearn {
        font-size: 50px;
        line-height: 61px;
        margin-top: 37px;
        margin-left: 218px;
        width: 120%;
        margin-bottom: 70px;
      }

      .reply-why-hapolearn {
        font-size: 16px;
        line-height: 20px;
        margin-left: 18px;
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .banner-whyhapolearn {
    .banner-whyhapolearn-background {
      height: 569px;
      display: flex;
      flex-direction: column;

      .img-laptop {
        width: 37%;
        top: -16%;
      }

      .img-devices {
        max-width: 100%;
      }
    }

    .banner-whyhapolearn-answer {
      max-width: 100%;

      .title-why-hapolearn {
        margin-left: 26vw;
        font-size: 40px;
        line-height: 40px;
        margin-top: 40px;
      }

      .reply-why-hapolearn {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 15px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
